<ion-view title="Login">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-text-wrap text-center">
                <h2>Please Log in</h2>
            </div>
            <div class="item">
                <form name="loginForm" class="list password-form">
                    <ion-list>
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input id="loginFormEmail" type="email" placeholder="name@domain.com">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input id="loginFormPassword" type="password" placeholder="********">
                        </label>
                        <button class="button button-stable button-block" ng-click="doLogin();" id="loginFormLogInButton">Log in</button>
                    </ion-list>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
